* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.content {
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: cadetblue;
}

.wrapper {
    margin: auto;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    background-color: white;
}

textarea {
    border: 1px solid black;
    padding: 1rem;
    resize: vertical;
}

.button-area {
    margin: auto;
    width: 100%;
}

button {
    padding: 6px 18px;
    width: auto;
    background-color: cadetblue;
    color: white;
    font-weight: 600;
    font-size: medium;
    border-radius: 4px;
    width: 100%;
    cursor: pointer;
}